<!doctype html>
<html lang="en" style="scroll-padding-top: 0px;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
  </script>
  <script type="text/javascript" async
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <title>FRoGGeR: Fast Robust Grasp Generation via the Min-Weight Metric</title>
  <!-- Custom styles for this template -->
  <link href="./assets/css/style.css" rel="stylesheet">
</head>

<body class="my-0 py-0">

  <main role="main" class="container my-0 py-0 accent-blue">

    <div class="my-0 py-0 jumbotron text-center banner bg-light">
      <div class="row h-100 py-4 justify-content-center">
        <div class="col-md-10 col-12 my-auto">
          <h1 class="display-4"><img class="frog-icon me-3" src="assets/img/frog_left.svg">FRoGGeR<img
              class="frog-icon ms-3" src="assets/img/frog_right.svg"></h1>
          <h2 class="text-lg text-md-xl" style="font-weight: 600;"><span class="accent-green">F</span>ast <span
              class="accent-green">Ro</span>bust
            <span class="accent-green">G</span>rasp
            <span class="accent-green">Ge</span>ne<span class="accent-green">r</span>ation via the
            Min&#8209;Weight&nbsp;Metric
          </h2>
          <h3 class="text-md text-sm-xl">
            <a class="link-dark link-clean" href="https://alberthli.github.io/">Albert H.Li</a>,
            <a class="link-dark link-clean" href="https://www.its.caltech.edu/~pculbert/">Preston Culbertson</a>,
            <a class="link-dark link-clean" href="https://www.eas.caltech.edu/people/jburdick">Joel W. Burdick</a>,
            <a class="link-dark link-clean" href="http://ames.caltech.edu/">Aaron D. Ames</a>
          </h3>
          <h4 class='mt-3'>Caltech</h4>
        </div>
      </div>
    </div>

    <div class="text-center col-10 mx-auto">
      <div class="row h-100 my-4 justify-content-center">
        <div class="col-4 my-auto">
          <a href="https://youtu.be/bSIlyAMfCmc?si=7WS7GE8KC1jPTv01">
            <div class="ratio ratio-16x9">
              <img src="assets/img/video_cover.svg" style="object-fit: cover;" class="rounded"
                alt="Link to summary video for FRoGGeR." />
            </div>
          </a>
          <p class="mt-2 mb-0"> <a class="link-custom" href="https://youtu.be/bSIlyAMfCmc?si=7WS7GE8KC1jPTv01">
              Video</a>
          </p>
        </div>
        <div class="col-4 my-auto">
          <a href="https://arxiv.org/pdf/2302.13687.pdf">
            <div class="ratio ratio-16x9">
              <img src="assets/img/paper_cover.png" style="object-fit: cover; object-position: 0% 1%;"
                alt="Link to FRoGGeR paper.">
            </div>
          </a>
          <p class="mt-2 mb-0"> <a class="link-custom" href="https://arxiv.org/pdf/2302.13687.pdf"> Paper </a> </p>
        </div>
        <div class="col-4 my-auto">
          <a href="https://github.com/alberthli/frogger">
            <div class="ratio ratio-16x9">
              <img src="assets/img/code_cover.png" style="object-fit: cover; object-position: 0 0;" class="rounded"
                alt="Link to FRoGGeR source code.">
            </div>
          </a>
          <p class="mt-2 mb-0"> <a class="link-custom" href="https://github.com/alberthli/frogger"> Code </a> </p>
        </div>
        <!-- <div class="col-4 my-auto">
            <div class="ratio ratio-16x9">
              <img src="assets/imgs/nerf_supervision.gif" style="object-fit: cover;" class="rounded" alt="GIF of results from NeRF-Supervision, Yen-Chen et al., 2022.">
            </div>
            <p class="mt-2 mb-0"> <a class="link-dark" href="https://yenchenlin.me/nerf-supervision/"> NeRF Supervision, Lin et al. '22</a> </p>
          </div> -->
      </div>
    </div>

    <!-- <div class="col-md-8 col-10 text-justify"> -->
    {{content}}
    <!-- </div> -->
    </div>
  </main>

  <footer class="text-light py-3 bg-dark">
    <div class="container">
      <p class="float-end mb-1">
        <a class="link-light" href="#">Back to top</a>
      </p>
      <p class="mb-1">© Copyright 2023. Powered by <a class="link-light" href="https://jekyllrb.com/">Jekyll</a> and <a
          class="link-light" href="https://pages.github.com/"> GitHub Pages</a>.
    </div>
  </footer>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>

</html>